doctype html
html
    head
        title Account Page
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }
            h1 {
                color: #333;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            li {
                margin: 10px 0;
            }
            a {
                text-decoration: none;
                color: #007BFF;
                font-weight: bold;
            }
            a:hover {
                text-decoration: underline;
            }
            form {
                margin-top: 20px;
            }
            button {
                background-color: #007BFF;
                color: white;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
            }
            button:hover {
                background-color: #0056b3;
            }
    body
        h1 Hello, #{username || 'Guest'}
        ul
            li: a(href='/dashboard-pug', target='_blank') Dashboard
            li: a(href='/members-pug', target='_blank') Members
            li: a(href='/metrics-pug', target='_blank') GS Metrics
            li: a(href='/logs', target='_blank') Check Board Logs
        form(action='/logout', method='post')
            button(type='submit') Logout